/.vs/Qualification/v15/*.suo
/BathroomStalls/bin/Debug
/BathroomStalls/obj/Debug
/OversizedPancakeFlipper/*.user
/OversizedPancakeFlipper/bin/Debug
/OversizedPancakeFlipper/obj/Debug
/TidyNumbers/bin/Debug
/TidyNumbers/obj/Debug
/FashionShow/bin/Debug
/FashionShow/obj/Debug
/.vs/Contest2017/v15/*.suo
/AlphabetCake/bin/Debug
/AlphabetCake/obj/Debug
/PlayTheDragon/bin/Debug
/PlayTheDragon/obj/Debug
/Ratatouille/bin/Debug
/Ratatouille/obj/Debug
/Project1/bin/Debug
/Project1/obj/Debug
/Project2/bin/Debug
/Project2/obj/Debug
/Project3/bin/Debug
/Project3/obj/Debug
/CruiseControl/bin/Debug
/1C/Project1/obj/Debug
/1C/Project2/obj/Debug
/1C/Project3/obj/Debug
/CruiseControl/obj/Debug
/KnightsAndDragons/bin/Debug
/KnightsAndDragons/obj/Debug
/StableNeighbors/bin/Debug
/StableNeighbors/obj/Debug
/1A/A.AlphabetCake/bin/Debug
/1A/A.AlphabetCake/obj/Debug
/1B/A.CruiseControl/bin/Debug
/1B/A.CruiseControl/obj/Debug
/1B/B.StableNeighbors/bin/Debug
/1B/B.StableNeighbors/obj/Debug
/1C/Project1/bin/Debug
/Qualification/A.OversizedPancakeFlipper/bin/Debug
/Qualification/A.OversizedPancakeFlipper/obj/Debug
/Qualification/B.TidyNumbers/bin/Debug
/Qualification/B.TidyNumbers/obj/Debug
/Qualification/C.BathroomStalls/bin/Debug
/Qualification/C.BathroomStalls/obj/Debug
/Qualification/D.FashionShow/bin/Debug
/Qualification/D.FashionShow/obj/Debug
/1C/A.AmpleSyrup/bin/Debug
/1C/A.AmpleSyrup/obj/Debug
