/.vs/Qualification/v15/*.suo
/BathroomStalls/bin/Debug
/BathroomStalls/obj/Debug
/OversizedPancakeFlipper/*.user
/OversizedPancakeFlipper/bin/Debug
/OversizedPancakeFlipper/obj/Debug
/TidyNumbers/bin/Debug
/TidyNumbers/obj/Debug
/FashionShow/bin/Debug
/FashionShow/obj/Debug
/.vs/Contest2017/v15/*.suo
/AlphabetCake/bin/Debug
/AlphabetCake/obj/Debug
/PlayTheDragon/bin/Debug
/PlayTheDragon/obj/Debug
/Ratatouille/bin/Debug
/Ratatouille/obj/Debug
/Project1/bin/Debug
