/.vs/Qualification/v15/*.suo
/BathroomStalls/bin/Debug
/BathroomStalls/obj/Debug
/OversizedPancakeFlipper/*.user
/OversizedPancakeFlipper/bin/Debug
/OversizedPancakeFlipper/obj/Debug
/TidyNumbers/bin/Debug
/TidyNumbers/obj/Debug
/FashionShow/bin/Debug
/FashionShow/obj/Debug
